<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>answers</title>
</head>
<body>
    <h5>{{answers.questionnaire.question1}}</h5>
    <h5>{{answers.questionnaire.question2}}</h5>
    <h5>{{answers.questionnaire.question3}}</h5>
    <h5>{{answers.questionnaire.question4}}</h5>
    <h5>{{answers.answer1}}</h5>
    <h5>{{answers.answer2}}</h5>
    <h5>{{answers.answer3}}</h5>
    <h5>{{answers.answer4}}</h5>
    <h5>Consent - {{answers.consent}}</h5>
    <h5>User - {{answers.user}}</h5>

    <a href="/a_list"><h5>Answers list</h5></a>

    <form action="answers" method="POST">
        {% csrf_token %}
        <input type="checkbox" id="consent" name="consent">
        <label for="consent">Consent</label><br>
        <input type="Submit">
    </form>

</body>
</html>