<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start Page</title>
</head>
<body>
    <!--<form action="register" methods="get">
        {% csrf_token %}
        <button type="Register button">Register</button>
    </form>
    <form action="user_login" methods="get">
        {% csrf_token %}
        <button type="User button">Sign in</button>
    </form>-->
    <button onclick="window.location.href='/account/register';"> Register</button><br>
    <button onclick="window.location.href='/account/user_login';"> Sign in</button><br>
    <button onclick="window.location.href='/admin';"> Admin sign in</button><br>
</body>
</html>